<header id="topnav">
    <div class="topbar">
        <div class="topbar-right">
           <!-- <ul class="topbar-panel"> -->
              <!-- <li> -->
                 <!-- <a href="javascript:void(0)" title="Font Largest"><img style="height: 28px; margin-right: 5px;" src="assets/images/Acrobat_Reader.png" alt="."> Acrobat Reader</a> -->
              <!-- </li> -->
           <!-- </ul> -->
           <!-- <div class="language"> -->
              <!-- <a href="javascript:void(0)" title="Language"><i class="fa fa-arrow-circle-down hindi-arrow"></i> हिंदी</a> -->
           <!-- </div> -->
        </div>
    </div>
    <div class="col-md-12">
        <img class="cg_logo" src="assets/images/logo.png" alt=".">
    </div>
    <div class="navigation-wrap start-header start-style">
       <div class="col-12">
         <nav class="navbar navbar-expand-md navbar-light">
             <div class="menu-button">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
             </div>				
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav">
                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-md-2 active">
                         <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-md-2">
                         <a class="nav-link" routerLink="/aboutus">About CGPSC</a>
                     </li>
                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-md-2">
                         <a class="nav-link" routerLink="/rti">Right To Information</a>
                     </li>
                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-md-2">
                         <a class="nav-link" routerLink="/examdetails">Advertisement Wise Details</a>
                     </li>

                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-md-2">
                         <a class="nav-link" routerLink="/directory">Directory</a>
                     </li>
                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-md-2">
                         <a class="nav-link" routerLink="/contactus">Contact Us</a>
                     </li>
                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-md-2">
                        <a class="nav-link" routerLink="/login">Admin</a>
                    </li>


                    
                     
                 </ul>
               
             </div>
             
         </nav>		
       </div>
    </div>
 </header>
