
<div class="content-wrapper"> 
    <div class="main-content">
       <div class="row">
         <div class="col-md-8">
           <div class="Whats_New_Sec">
             <h3 class="Whats_Newt_heading">Right to Information</h3>
             <div class="table-responsive-sm mb-4">
               <table class="table table-bordered table-striped table-hover">
                 <thead class="thead-red">
                   <tr>
                     <th style="width:30px;">Sl.No.</th>
                     <th>Title</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>1.</td>
                     <td><a href="../pdf/rti/rti_act.pdf"> The Hon'ble Gazette of India </a> </td>
                   </tr>
                   <tr>
                     <td>2.</td>
                     <td><a href="../pdf/rti/rti_17.pdf">Proactive Disclosure-Information Under RTI Act -2005 </a></td>
                   </tr>
                   <tr>
                     <td>3.</td>
                     <td><a href="../pdf/rti/rti_17.pdf">General Guidelines </a></td>
                   </tr>
                   <tr>
                     <td>4.</td>
                     <td> <h5> RTI Application Status (For the Month April 2022)</h5>
                         <div >
                           <ol>
                             <li>First Appellate Officer (Examination Controller)</li>
                             <li> Information Officer, Examination (Under Secretary)</li>
                             <li> Information Officer, General (Under Secretary) </li>
                           </ol>
                         </div></td>
                   </tr>
                   <tr>
                     <td>5.</td>
                     <td ><h5>RTI Officers </h5>
                         <div >
                           <ol>
                             <li>Second Appeleat Officer-State Information Commission- 0771-4024235, 2444151 </li>
                             <li>First Appeleat Officer-Shri C.P. Baghel(Additional Exams Controller)-0771-2331204</li>
                             <li>Information Officer(Exam)-Shri v.K. Sahu(Under Secretary)-0771-2439562 </li>
                             <li>Information Officer(General)-Shri H.L. Dhruw(Under Secretary) (Under Secretary)-0771-2331204 </li>
                           </ol>
                         </div></td>
                   </tr>
           </table>
        
             </div>
             <div class="table-responsive-sm mb-4"> </div>
           </div>
         </div>
         <div class="col-md-4">
            
            <div class="latest_result_box mb-4">
              <h3 class="result_heading">Following links</h3>
              <ul>
                  <li><a href="#">$$ CGPSC RULES OF PROCEDURE-2014 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-1 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-2 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-3 $$</a></li>
                  <li><a href="#">$$ ANNUAL REPORT 2016-2017 $$</a></li>
                  <li><a href="#">$$ ANNUAL REPORT 2017-2018 $$</a></li>
             </ul>
           </div>
          
           <div class="related_link_box">
            <h3 class="related_link_heading">Important Links</h3>
            <ul>
              <li><a href="https://www.india.gov.in" target="_blank">National Portal of India</a></li>
              <li><a href="https://www.upsc.gov.in" target="_blank">Union Public Service Commission (UPSC)</a></li>
              <li><a href="https://www.cgstate.gov.in" target="_blank">State Government Portal of Chhattisgarh</a></li>
              <li><a href="https://www.psc.cg.gov.in" target="_blank">Chhattisgarh Public Service Commission(CGPSC)</a></li>
            </ul>
         </div>
         </div>
      </div>