.accordion-heading{
    padding:10px;
    cursor:pointer;
    background:#fff;
    color:rgb(26, 20, 20);
    font-weight: 600;
    margin-top: 4px;
    font-size: 16px;
    border-radius: 2px;
}


.accordion-content{
    transition: 4s ease-in-out;
    padding: 10px;
    background: rgb(241, 236, 236);
    border:1px soilid rgb(239, 236, 236);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

}

@keyframes slideDown{
    
    100%{
        transform: translateY(0%);
    }

}

.up-icon{
    transition: 0.25 ease-out;
}

.icon{
    animation-name:icon;
    transform: rotate(180deg);
    transition: 0.2s ease-out;
}



/*================================================================tab==============================================================*/






.tab .tab-content .tab-content-value ol li a {
    color:#1c1d1e;
    font-size: 1rem;
    text-decoration: none;

  }

  .tab .tab-content .tab-content-value ol li a:hover{
    text-decoration: underline;     
    color:hsl(0, 93%, 50%);
  }


.tab ul{
    padding: 10px;
    background: hsl(0, 4%, 84%) !important;
    display:inline-block;
    border-radius: 2px;
    margin:5px ;
    
}

.tab ul li {
    display: inline-block;
    list-style-type:  none;
    border-right: 2px solid rgb(19, 18, 18);
    border-width:3px;
    color:hsl(0, 0%, 2%);
    font-size: 16px;
    padding :0 22px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.tab ul li:last-child{
    border-right:  none;
    ;
}

.tab ul li:hover{
    color:hsl(342, 100%, 50%);
    text-decoration: underline; 
    font-weight:800;
}

.color{
    color: hsl(250, 100%, 50%)! important;
    text-decoration: underline; 
    
}

.tab-content{
    background: white;
    padding: 20px;
    border:2px solid rgb(189, 187, 188);
}
.tab-content h2{
    font-size: 18px;
    font-weight: 800;
}

