
<div class="content-wrapper"> 
    <div class="main-content animated fadeInUp">
       <div class="row">
          <div class="col-md-8">
            <div class="Whats_New_Sec">
              <h3 class="Whats_Newt_heading">All Advertisement Details</h3>
            </div>
             <div id="main">
                 
               <div class="card"   > 
                   <div  class="accordion-heading" id="all_post" (click)="accordion('all_post')"> All Post Details
                      <span class="pull-right up-icon" [class.icon]="id==='all_post'"> <i class="fa fa-chevron-up"></i></span>
                   </div>
                 <div class="accordion-content" *ngIf="id==='all_post'"> 
                   <div class="card-body">
                       <div class="tab">
                         <ul>
                           <!-- <li id="Latest" [class.color]="id1=='Latest'" (click)="tabchange('Latest')">Latest</li> -->
                           <li id="Advertisement" [class.color]="id1=='Advertisement'" (click)="tabchange('Advertisement')">Advertisement</li>
                           <li id="Online Application" [class.color]="id1=='Onlineapplication'" (click)="tabchange('Onlineapplication')"> Online Application </li>
                           <li id="Notification" [class.color]="id1=='Notification'" (click)="tabchange('Notification')"> Notification  </li>
                           <li id="Model Answer" [class.color]="id1=='Modelanswer'" (click)="tabchange('Modelanswer')"> Model Answer </li>
                           <li id="Result" [class.color]="id1=='Result'" (click)="tabchange('Result')">  Result </li>
                         </ul>
 
                        <div class="tab-content" >
                         
                          <!--   <div class="tab-content-value" *ngIf ="id1==='Latest'">
                             <h2>Latest</h2>
                             <ol>
                               <li *ngFor ="let i of master_latest | orderBy:'i.item_code'"><a href={{i.link}} target="_blank">{{i.details | titlecase}} </a></li>
                             </ol>
                           
                         </div> -->
                           <div class="tab-content-value" *ngIf ="id1==='Advertisement'">
                             <h2>Advertisement</h2>
                             <ol>
                               <li *ngFor ="let i of advertisement"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                             </ol>
                           
                         </div>
                         <div class="tab-content-value" *ngIf ="id1==='Onlineapplication'">
                           <h2>Online Application</h2>
                           <ol>
                             <li *ngFor ="let i of onlineapplication"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                           </ol>
                         
                       </div>
 
                         <div class="tab-content-value" *ngIf ="id1==='Modelanswer'">
                           <h2>Model Answer</h2>
                           <ol>
                             <li *ngFor ="let i of modelanswer"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                           </ol>
                         
                       </div>
 
                         <div class="tab-content-value" *ngIf ="id1==='Notification'">
                           <h2>Notification</h2>
                           <ol>
                             <li *ngFor ="let i of notification"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                           </ol>
                         
                       </div>
 
                         <div class="tab-content-value" *ngIf ="id1==='Result'">
                           <h2>Result</h2>
                           <ol>
                             <li *ngFor ="let i of result"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                           </ol>
                        
                       </div>
                   
                       </div>
                       
                   </div >
                  </div>
                </div >
              </div >
                
              <div class="Whats_New_Sec">
               <h3 class="Whats_Newt_heading">Advertisement Wise Details</h3>
             </div>
              <div id="main">
                  
                <div class="card"  *ngFor="let item of result_display" >
                    <div  class="accordion-heading" id=item.advt_no (click)="accordion(item.advt_no)"> {{item.advt_details| titlecase}}
                       <span class="pull-right up-icon" [class.icon]="id===item.advt_no"> <i class="fa fa-chevron-up"></i></span>
                    </div>
                  <div class="accordion-content" *ngIf="id===item.advt_no"> 
                    <div class="card-body">
                        <div class="tab">
                          <ul>
                            <li id="Latest" [class.color]="id1=='Latest'" (click)="tabchange('Latest')">Latest</li>
                            <li id="Advertisement" [class.color]="id1=='Advertisement'" (click)="tabchange('Advertisement')">Advertisement</li>
                            <li id="Online Application" [class.color]="id1=='Onlineapplication'" (click)="tabchange('Onlineapplication')"> Online Application </li>
                            <li id="Notification" [class.color]="id1=='Notification'" (click)="tabchange('Notification')"> Notification  </li>
                            <li id="Model Answer" [class.color]="id1=='Modelanswer'" (click)="tabchange('Modelanswer')"> Model Answer </li>
                            <li id="Result" [class.color]="id1=='Result'" (click)="tabchange('Result')">  Result </li>
                          </ul>

                          <div class="tab-content" >
                          
                            <div class="tab-content-value" *ngIf ="id1==='Latest'">
                              <h2>Latest</h2>
                              <ol>
                                <li *ngFor ="let i of item.latest | orderBy:'i.item_code'"><a href={{i.link}} target="_blank">{{i.details | titlecase}} </a></li>
                              </ol>
                            
                          </div>
                            <div class="tab-content-value" *ngIf ="id1==='Advertisement'">
                              <h2>Advertisement</h2>
                              <ol>
                                <li *ngFor ="let i of item.advertisement"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                              </ol>
                            
                          </div>
                          <div class="tab-content-value" *ngIf ="id1==='Onlineapplication'">
                            <h2>Online Application</h2>
                            <ol>
                              <li *ngFor ="let i of item.onlineapplication"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                            </ol>
                          
                        </div>

                          <div class="tab-content-value" *ngIf ="id1==='Modelanswer'">
                            <h2>Model Answer</h2>
                            <ol>
                              <li *ngFor ="let i of item.modelanswer"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                            </ol>
                          
                        </div>

                          <div class="tab-content-value" *ngIf ="id1==='Notification'">
                            <h2>Notification</h2>
                            <ol>
                              <li *ngFor ="let i of item.notification"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                            </ol>
                          
                        </div>

                          <div class="tab-content-value" *ngIf ="id1==='Result'">
                            <h2>Result</h2>
                            <ol>
                              <li *ngFor ="let i of item.result"><a href={{i.link}} target="_blank">{{i.details | titlecase}}</a></li>
                            </ol>
                         
                        </div>

                      </div>
                    </div >
                  </div>
                  </div>
               </div>
              </div>
            </div>
          </div>
        
          
            <div class="col-md-4">
              <div class="row">
                    <div class="latest_result_box">
                         <h3 class="result_heading">Latest Result</h3>
                         <ul  > 
                           <li  *ngFor="let item of latestresult; index as i;">
                               <a  href="{{item.link}}" target="_">{{item.details | titlecase}}</a>
                            </li>
                            </ul>
                    </div>
                </div>
           
          
                <div class="related_link_box">
                  <h3 class="related_link_heading">Important Links</h3>
                  <ul>
                    <li><a href="https://www.india.gov.in" target="_blank">National Portal of India</a></li>
                    <li><a href="https://www.upsc.gov.in" target="_blank">Union Public Service Commission (UPSC)</a></li>
                    <li><a href="https://www.cgstate.gov.in" target="_blank">State Government Portal of Chhattisgarh</a></li>
                    <li><a href="https://www.psc.cg.gov.in" target="_blank">Chhattisgarh Public Service Commission(CGPSC)</a></li>
                  </ul>
               </div>
          </div>
       </div>
    </div>
</div>

