<div class="content-wrapper"> 
  <div class="main-content">
     <div class="row">
      <div class="col-md-8">
      <div class="Whats_New_Sec">
       <h3 class="Whats_Newt_heading">About Us</h3>
       <div class="about-us-sec">
          Under the re-organization of Madhya Pradesh, the State of Chattisgarh came into existence on 1st November 2000 and Chhattisgarh Public Service Commission was formed under the provision of Act 315 of the Constitution of India on 23rd May 2001.
         <br> <br>
         <div><h4>The commission is to perform the following functions</h4></div> 
         <ul>
          <li>To conduct examinations for the appointments in the state<li>
          <li>To advise the state government on the following:
             <ul>
              <li>On all matters related with the state civil service.</li>
              <li>On matters related with the eligibility, transfer and promotion of the civil servants.</li>
              <li>On matters related with monetary benefits and compensation to the civil servant by the state government.</li>
           </ul>
          </li>
         </ul>
       </div>
       
       <h3 class="Whats_Newt_heading mt-5">Commission at a Glance</h3>
       
       <div class="table-responsive-sm mb-4">
         <table class="table table-bordered table-striped table-hover">
          <thead class="thead-red">
           <tr>
             <th colspan="4">LIST OF HON'BLE CHAIRMAN, CGPSC, RAIPUR</th>
           </tr>
         </thead>
         <thead class="thead-dark">
           <tr>
             <th style="width:50px;">Sl.No.</th>
           <th>Name</th>
           <th>Tenure</th>
           <th>Photo</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>1</td>
           <td>Hon'ble Shri  Shri Mohan Shukla I.P.S. (Retd.)</td>
           <td>26-05-2001 To 02-10-2004</td>
           <td><img src="assets/images/sms.jpg" alt="."></td>
           </tr>
           <tr>
             <td>2</td>
           <td>Hon'ble Shri Ashok Darbari I.P.S. (Retd.)</td>
           <td>22-10-2004 To 20-04-2008</td>
           <td><img src="assets/images/ad.jpg" alt="."></td>
           </tr>
           <tr>
             <td>3</td>
           <td>Hon'ble Shri B. L. Thakur, I.A.S. (Retd.)</td>
           <td>12-09-2008 To 23-08-2011</td>
           <td><img src="assets/images/blt.jpg" alt="."></td>
           </tr>
           <tr>
             <td>4</td>
           <td>Hon'ble Prof. (Dr.) Pradeep Kumar Joshi</td>
           <td>01-10-2011 To 11-05-2015</td>
           <td><img src="assets/images/pj.jpg" alt="."></td>
           </tr>
           <tr>
             <td>5</td>
           <td>Hon'ble Shri R.S. Vishwakarma I.A.S. (Retd.)</td>
           <td>12-06-2015 To 16-01-2017</td>
           <td><img src="assets/images/rsv.jpg" alt="."></td>
           </tr>
           <tr>
             <td>6</td>
           <td>Hon'ble Shri K.R. Pisda I.A.S. (Retd.)</td>
           <td>17-01-2017 To 01-06-2020</td>
           <td><img src="assets/images/krp.jpg" alt="."></td>
           </tr>
           <tr>
             <td>7</td>
           <td>Hon'ble Shri Taman Singh Sonwani I.A.S. (Retd.)</td>
           <td>02-06-2020 To Continue</td>
           <td><img src="assets/images/7ch.jpg" alt="."></td>
           </tr>
         </tbody>
         </table>
       </div>
       
       <div class="table-responsive-sm mb-4">
         <table class="table table-bordered table-striped table-hover">
          <thead class="thead-red">
           <tr>
             <th colspan="4">LIST OF HON'BLE CHAIRMAN (ACTING), CGPSC, RAIPUR</th>
           </tr>
         </thead>
         <thead class="thead-dark">
           <tr>
             <th style="width:50px;">Sl.No.</th>
           <th>Name</th>
           <th>Tenure</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>1</td>
           <td>Hon'ble Dr. Khelan Ram Jangde</td>
           <td>19-09-2006 To 26-05-2007</td>
           </tr>
           <tr>
             <td>2</td>
           <td>Hon'ble Shri Narendra Singh Bhadauriya</td>
           <td>04-06-2007 To 09-08-2008</td>
           </tr>
           <tr>
             <td>3</td>
           <td>Hon'ble Dr. Durgasharan Chandra</td>
           <td>26-08-2011 To 30-09-2011</td>
           </tr>
           <tr>
             <td>4</td>
           <td>Hon'ble Shri M. S. Paikra</td>
           <td>22-05-2015 To 13-06-2015</td>
           </tr>
         </tbody>
         </table>
       </div>
       
        <div class="table-responsive-sm mb-4 ">
         <table class="table table-bordered table-striped table-hover">
          <thead class="thead-red">
           <tr>
             <th colspan="4">LIST OF HON'BLE MEMBER, CGPSC, RAIPUR</th>
           </tr>
         </thead>
         <thead class="thead-dark">
           <tr>
             <th style="width:50px;">Sl.No.</th>
           <th>Name</th>
           <th>Tenure</th>
           <th>Photo</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>1</td>
           <td>Hon'ble Shri  Shri Mohan Shukla I.P.S. (Retd.)</td>
           <td>27-05-2001 To 26-05-2007</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>2</td>
           <td>Hon'ble Shri Amol Singh Salam</td>
           <td>31-05-2001 To 30-05-2007</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>3</td>
           <td>Hon'ble Shri Radheshyam Dewangan</td>
           <td>21-10-2004 To 06-01-2007</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>4</td>
           <td>Hon'ble Shri Chandrasekhar Sahu</td>
           <td>25-10-2004 To 10-01-2006</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>5</td>
           <td>Hon'ble Shri Narendra Singh Bhadauriya</td>
           <td>20-03-2007 To 03-06-2007</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>6</td>
           <td>Hon'ble Dr. Durgasharan Chandra</td>
           <td>13-08-2007 To 12-08-2013</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>7</td>
           <td>Hon'ble Dr. Itwari Ram Khunte</td>
           <td>11-09-2008 To 10-09-2014</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>8</td>
           <td>Hon'ble Shri Pradeep Kumar Despande</td>
           <td>12-09-2008 To 25-06-2013</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>9</td>
           <td>Hon'ble Shri Ramesh Chandra Sharama</td>
           <td>01-12-2010 To 31-08-2012</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>10</td>
           <td>Hon'ble Shri M. S. Paikra</td>
           <td>03-09-2013 To 21-05-2015</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>11</td>
           <td>Hon'ble Shri Shiv Narayan Pandey</td>
           <td>05-12-2014 To 04-12-2020</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>12</td>
           <td>Hon'ble Shri R. S. Vishwakarma</td>
           <td>09-03-2015 To 12-06-2015</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>13</td>
           <td>Hon'ble Shri Mohan Lal Mandavi</td>
           <td>10-11-2015 To 22-03-2019</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>14</td>
           <td>Hon'ble Shri Sukrit Lal Sao</td>
           <td>22-05-2017 To 02-04-2022</td>
           <td><img src="assets/images/memb1.jpg" alt="."></td>
           </tr>
           <tr>
             <td>15</td>
           <td>Hon'ble Dr. Motilal Bachker</td>
           <td>05-10-2017 To Continue</td>
           <td><img src="assets/images/memb2.jpg" alt="."></td>
           </tr>


           <tr>
            <td>16</td>
          <td> Honourable Dr. Praveen Verma</td>
          <td>16-07-2021 To Continue</td>
          <td><img src="assets/images/memb3.jpg" alt="."></td>
          </tr>

          <tr>
            <td>17</td>
          <td> 	Hon'ble Dr. Sarita Uike</td>
          <td>24-07-2021 To Continue</td>
          <td><img src="assets/images/memb4.jpg" alt="."></td>
          </tr>
         </tbody>
         </table>
       </div>
       
       <div class="table-responsive-sm mb-4">
         <table class="table table-bordered table-striped table-hover">
          <thead class="thead-red">
           <tr>
             <th colspan="4">LIST OF SECRETARY, CGPSC, RAIPUR</th>
           </tr>
         </thead>
         <thead class="thead-dark">
           <tr>
             <th style="width:50px;">Sl.No.</th>
           <th>Name</th>
           <th>Tenure</th>
           <th>Photo</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>1</td>
           <td>Shri B.L.Tiwari (S.A.S.)</td>
           <td>09-08-2001 To 16-05-2004</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>2</td>
           <td>Shri Manohar Pandey (I.A.S.)</td>
           <td>16-04-2004 To 07-02-2006</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>3</td>
           <td>Shri Sanjay Kumar Ojha (I.F.S.)</td>
           <td>07-02-2006 To 09-06-2006</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>4</td>
           <td>Shri Pradeep Pant (I.F.S.)</td>
           <td>21-06-2006 To 20-07-2009</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>5</td>
           <td>Shri Xevier Tigga (I.A.S.)</td>
           <td>07-08-2009 To 18-04-2011</td>
           <td>&nbsp;</td>
           </tr>
           <tr>
             <td>6</td>
           <td>Shri Hemant Kumar Pahare (I.A.S.)</td>
           <td>18-04-2011 To 02-12-2011</td>
           <td><img src="assets/images/hkp.jpg" alt="."></td>
           </tr>
           <tr>
             <td>7</td>
           <td>Shri C.S. Dehare (I.A.S.)</td>
           <td>15-11-2012 To 19-08-2013</td>
           <td><img src="assets/images/csd.jpg" alt="."></td>
           </tr>
           <tr>
             <td>8</td>
           <td>Ms. Reeta Shandilya (I.A.S.)</td>
           <td>19-08-2013 To 28-05-2015</td>
           <td><img src="assets/images/RS.jpg" alt="."></td>
           </tr>
           <tr>
             <td>9</td>
           <td>Shri Hemant Kumar Pahare (I.A.S.)</td>
           <td>11-06-2015 To 11-09-2017</td>
           <td><img src="assets/images/hkp.jpg" alt="."></td>
           </tr>
           <tr>
             <td>10</td>
           <td>Shri Chandrakant Uike (I.A.S.)</td>
           <td>11-09-2017 To 03-05-2018</td>
           <td><img src="assets/images/cu.jpg" alt="."></td>
           </tr>
           <tr>
             <td>11</td>
           <td>Smt. Pushpa Sahu (I.A.S.)</td>
           <td>03-05-2018 To 30-09-2020</td>
           <td><img src="assets/images/PUSHPA_SAHU.jpg" alt="."></td>
           </tr>
           <tr>
             <td>12</td>
           <td>Shri. Jeevan Kishor Dhruv (I.A.S.)</td>
           <td>06-10-2020 To Continue</td>
           <td><img src="assets/images/12sec.jpg" alt="."></td>
           </tr>
         </tbody>
         </table>
       </div>
     </div>
    </div>
    <div class="col-md-4">
      
      <div class="latest_result_box mb-4">
      <h3 class="result_heading">Following links</h3>
      <ul>
        <li><a href="#">$$ CGPSC RULES OF PROCEDURE-2014 $$</a></li>
        <li><a href="#">$$ AMENDMENT-1 $$</a></li>
        <li><a href="#">$$ AMENDMENT-2 $$</a></li>
        <li><a href="#">$$ AMENDMENT-3 $$</a></li>
        <li><a href="#">$$ ANNUAL REPORT 2016-2017 $$</a></li>
        <li><a href="#">$$ ANNUAL REPORT 2017-2018 $$</a></li>
     </ul>
     </div>
    
     <div class="related_link_box">
      <h3 class="related_link_heading">Important Links</h3>
      <ul>
        <li><a href="https://www.india.gov.in" target="_blank">National Portal of India</a></li>
        <li><a href="https://www.upsc.gov.in" target="_blank">Union Public Service Commission (UPSC)</a></li>
        <li><a href="https://www.cgstate.gov.in" target="_blank">State Government Portal of Chhattisgarh</a></li>
        <li><a href="https://www.psc.cg.gov.in" target="_blank">Chhattisgarh Public Service Commission(CGPSC)</a></li>
      </ul>
   </div>
    </div>
   </div>