<div class="content-wrapper"> 
    <div class="main-content">
       <div class="row">
          <div class="col-md-8">
              <div class="Whats_New_Sec">
               <h3 class="Whats_Newt_heading">Contact Us</h3>
                     
             <br><br><br>
               
               <div class="table-responsive-sm mb-4">
               <div class="card">
               <div class=" card-header " >
                 <h4> Chhattisgarh Public Service Commission</h4>
                
                 <h6>North Block, Sector-19</h6>
                    <h6>Nava Raipur, Atal Nagar (Chhattisgarh), Pin - 492002</h6>
                        <h6>Contact No. - 0771 2331204</h6>
                         <h6> Pin - 492002</h6>
                         <h5> Email- cgpsc.cg@gov.in</h5></div>
                     
                   </div>
                   
               </div>
               
               <div class="table-responsive-sm mb-4">
                  
               </div>
               
             
             </div>
          </div>
          <div class="col-md-4">
            
            <div class="latest_result_box mb-4">
              <h3 class="result_heading">Following links</h3>
              <ul>
                  <li><a href="#">$$ CGPSC RULES OF PROCEDURE-2014 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-1 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-2 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-3 $$</a></li>
                  <li><a href="#">$$ ANNUAL REPORT 2016-2017 $$</a></li>
                  <li><a href="#">$$ ANNUAL REPORT 2017-2018 $$</a></li>
             </ul>
           </div>
          
           <div class="related_link_box">
            <h3 class="related_link_heading">Important Links</h3>
            <ul>
              <li><a href="https://www.india.gov.in" target="_blank">National Portal of India</a></li>
              <li><a href="https://www.upsc.gov.in" target="_blank">Union Public Service Commission (UPSC)</a></li>
              <li><a href="https://www.cgstate.gov.in" target="_blank">State Government Portal of Chhattisgarh</a></li>
              <li><a href="https://www.psc.cg.gov.in" target="_blank">Chhattisgarh Public Service Commission(CGPSC)</a></li>
            </ul>
         </div>
          </div>
       </div>
