<div class="content-wrapper"> 
    <div class="main-content">
       <div class="row">
          <div class="col-md-8">
              <div class="Whats_New_Sec">
               <h3 class="Whats_Newt_heading">Directory</h3>
                     
               <div class="table-responsive-sm mb-4">
                   <table class="table table-bordered table-striped table-hover">
                   
                     <thead class="thead-red">
                       <tr>
                         <th style="width:30px;">Sl.No.</th>
                         <th>Designation</th>
                         <th>Name</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>1.</td>
                         <td> Chairman</td>
                         <td>Honourable Shri Taman Singh Sonwani</td>
                       </tr>
                       
                       <tr>
                        <td>2.</td>
                        <td>Member</td>
                        <td> Honourable Dr. Motilal Bachker</td>
                        </tr>
                       <tr>
                         <td>3.</td>
                         <td>Member</td>
                         <td> Honourable Dr. Praveen Verma</td>
                         </tr>
                         <tr>
                            <td>4.</td>
                            <td>Member</td>
                            <td> Honourable Dr. Sarita Uike</td>
                            </tr>
                     </tbody>
                   </table>
                   
                   <table class="table table-bordered table-striped table-hover">	
                   <thead class="thead-red" >
                    <tr>
                   <th >Designation</th>
                   <th >Name</th>
                   <th >Contact No.(O) </th>
                   </tr>
                   </thead>
                   
                   <tbody>
                 <tr>
                   <td>Secretary</td>
                   <td>Shri. Jeevan Kishor Dhruv (I.A.S.)</td>
                   <td>0771-2439564, 2331525(F)</td>
                   
                   </tr>
                 <tr>
                   <td >Controller of Exam </td>
                   <td >Arti Wasnik </td>
                   <td >0771-2439562, 2446556(F)</td>
                 
                   </tr>
                   <tr>
                    <td >  Officer Incharge I.T. Cell  </td>
                    <td >Shri Gajanan Rathod </td>
                    <td >0771-2331204</td>
                    </tr>
                  <tr>
                    <td >Computer Programmer </td>
                    <td >Shri Deepak Kumar Thakur </td>
                    <td >0771-2331204</td>
                    </tr>
                  
                 <tr>
                   <td >U. Secretary</td>
                   <td >Shri H. L. Dhruw</td>
                   <td >0771-2331204</td>
                   
                   </tr>

                   <tr>
                    <td >U. Secretary</td>
                    <td >Shri V. K. Sahu</td>
                    <td >0771-2331204</td>
                    
                    </tr>
                   
                
                    <tr>
                   <td >Dy. Controller of Exams</td>
                   <td >Shri Lalit Ganvir  </td>
                   <td >0771-2331204</td>
                   </tr>
              
                   </tbody>	
                   
             </table>	
                   
                   
               </div>
               
               <div class="table-responsive-sm mb-4">				  </div>
               
             
             </div>
          </div>

          <div class="col-md-4">
            
            <div class="latest_result_box mb-4">
              <h3 class="result_heading">Following links</h3>
              <ul>
                  <li><a href="#">$$ CGPSC RULES OF PROCEDURE-2014 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-1 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-2 $$</a></li>
                  <li><a href="#">$$ AMENDMENT-3 $$</a></li>
                  <li><a href="#">$$ ANNUAL REPORT 2016-2017 $$</a></li>
                  <li><a href="#">$$ ANNUAL REPORT 2017-2018 $$</a></li>
             </ul>
           </div>
          
           <div class="related_link_box">
            <h3 class="related_link_heading">Important Links</h3>
            <ul>
              <li><a href="https://www.india.gov.in" target="_blank">National Portal of India</a></li>
              <li><a href="https://www.upsc.gov.in" target="_blank">Union Public Service Commission (UPSC)</a></li>
              <li><a href="https://www.cgstate.gov.in" target="_blank">State Government Portal of Chhattisgarh</a></li>
              <li><a href="https://www.psc.cg.gov.in" target="_blank">Chhattisgarh Public Service Commission(CGPSC)</a></li>
            </ul>
         </div>
            </div>
        </div>
    </div>
</div>
      
